<ul class="nav nav-pills">
    <li role="presentation"><a routerLink="registerEmp">Add Employee</a></li>
    <li role="presentation"><a routerLink="login">Login</a></li>
    <li role="presentation"><a routerLink="productlist">Product List</a></li>
    <li role="presentation"><a routerLink="inventory">Inventory</a></li>
    <li role="presentation"><a routerLink="cart">Cart</a></li>
    <li role="presentation"><a routerLink="user">User</a></li>
    <li role="presentation"><a routerLink="registration">Registration</a></li>
    <li role="presentation"><a routerLink="allemps">All Employees</a></li>
    <li role="presentation"><a routerLink="search">Search Employees</a></li>
</ul>
