<div>{{message}}</div>
<form>
    <fieldset>
        <legend>Employee Details</legend>
        <div>
            <table>
                <tr>
                    <td>Employee Id:</td>
                    <td><input type="text"id="empid" name="empid"  [(ngModel)]="data.empid" ></td>
                </tr>

                <tr>
                    <td>Email Id:</td>
                    <td><input type="text" id="emailId" [(ngModel)]="data.emailId" name="emailId"></td>
                </tr>

                <tr>
                    <td>First Name:</td>
                    <td><input type="text" id="firstname" [(ngModel)]="data.firstname" name="firstname"></td>
                </tr>

                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" id="lastname" name="lastname" [(ngModel)]="data.lastname"></td>
                </tr>

                <tr>
                    <td>DOB</td>
                    <td><input type="text" id="dob" name="dob" [(ngModel)]="data.dob"></td>
                </tr>

                <tr>
                    <td>City</td>
                    <td><input type="text" id="city" name="city" [(ngModel)]="data.city"></td>
                </tr>

                <tr>
                    <td>DOJ</td>
                    <td><input type="text" id="doj" name="doj" [(ngModel)]="data.doj"></td>
                </tr>

                <tr><td><input type="button" value="Register" (click)="registerNow()"></td></tr>
            </table>
        </div>
    </fieldset>
</form>