<h2>List of Products</h2>
<table border="1">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>End User</th>
        <th>Only Admin</th>
    </thead>
    <tr *ngFor="let product of productList">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price | currency:'INR'}}</td> <!--pipe-->
        <td><button (click)="addToCart(product.id)">Add to Cart</button></td>
        <td *ngIf="isAdmin"><button (click)="delete(product.id)">Delete</button></td>
    </tr>
</table>